{% extends "base.html" %}
<!DOCTYPE html>
  
    {% block header %}
    {% endblock header %}
    {% block navbar %}
    {% endblock navbar%}
  
    {% block content %}
    <section id="projects" class="container py-5">
        <h2 class="text-center mb-5" style="color: var(--ml-gold);">Featured Areas</h2>
        <div class="row g-4">
            <div class="col-md-4">
                <div class="card h-100 shadow">
                    <div class="card-body">
                        <h5 class="card-title">Web Templates</h5>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer text-end">
                        <a href="#" class="btn btn-sm btn-mona">See Code</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card h-100 shadow">
                    <div class="card-body">
                        <h5 class="card-title">Indie Games</h5>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer text-end">
                        <a href="#" class="btn btn-sm btn-mona">See Code</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card h-100 shadow">
                    <div class="card-body">
                        <h5 class="card-title">Other Notable Repos</h5>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer text-end">
                        <a href="#" class="btn btn-sm btn-mona">See Code</a>
                    </div>
                </div>
            </div>

        </div>
    </section>

{% endblock content %}
